- var array1 = [1]
- var array5 = [1,2,3,4,5]
- var array9 = [1,2,3,4,5,6,7,8,9]

!!!5
html
	head
		meta(charset="utf8")
		title backbone
		link(type="text/css", href="styles/styles.css", rel="stylesheet")
	body
	
		h2 Fotos
		div.white-box#divGallery
			div.dragger
				span.note Suelta tus imágenes aquí 
					small Máximo 2 MB por imágen.

			div.options
				input(type="text", id="file", name="file", placeholder="No ha elegido ningún archivo")
				button(type="button", id="btnChoose") Elige tu imagen

			form(name="demoFiler", id="demoFiler", enctype="multipart/form-data")
				fielset
					input(type="file", name="multiUpload", id="multiUpload", multiple="multiple")
					input(type="submit", name="submitHandler", id="submitHandler", value="Upload")

		//div.tpl
			div.thumb
				a(class="remove", title="{{title}}", href="javascript:;")
				{{src}}
				span.main {{main}}

		script(src="js/libs/jquery/jquery-1.9.1.min.js", type="text/javascript")
		script(src="js/libs/underscore/underscore-min.js", type="text/javascript")
		script(src="js/libs/backbone/backbone-min.js", type="text/javascript")
		script(src="js/libs/require/require-min.js", type="text/javascript")
		
		script(src="js/main.js", type="text/javascript")

		//Backbone
		
		script(src="js/models/Image.js", type="text/javascript")
		script(src="js/models/collections/Images.js", type="text/javascript")
		script(src="js/views/modules/GalleryView.js", type="text/javascript")
		script(src="js/views/modules/childrens/GalleryRow.js", type="text/javascript")
		
		script(src="js/load.js", type="text/javascript")